body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container{
    margin: 0 auto;
    width:90%;
    text-align:center;
}

.flex{
   display: flex; 
   flex-wrap: wrap;
}

.columna{
    background-color: antiquewhite;
    color: black;
    border: 1px solid black;
    margin: 0px auto;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 10px 10px 5px rgb(59, 57, 57);
    width: 24%;
    box-sizing: border-box;
}

.precio{
    font-size: 50px;
    color: rgb(6, 88, 88);
}

.btn-precio{
   display: block;
   background-color: blue;
   color: beige;
   padding: 10px;
   margin: 10px 0;
   border-radius: 5px;
   text-decoration: none;
}

.btn-precio:hover{
    background-color: rgb(3, 3, 72);
}
.btn-precio:active{
    background-color: rgb(227, 154, 224);
}

@media (max-width: 1070px) {
    .columna{
        width:45%;
        margin-bottom: 20px;
    }
}

@media (max-width: 600px) {
    .columna{
        width:100%;
        margin-bottom: 20px;
    }
}